body{
    background-color: #968DEA;
}

#small_pic {
    padding:5px;
    width:75px;
    height:75px;}
span1 {
    padding-left: 5px;
    padding-right: 300px;}
#tab {
    width: 600px;
    padding: 25px;
    text-}