body{
    background-color: #968DEA;

}


#small_pic {
    padding-left:20px;
    width:65px;
    height:65px;
    vertical-align:middle;
    }
span1 {
    color: white;
    padding-left: 5px;
    padding-right: 650px;
    }
#tab {
    color: white;
    text-decoration:underline;
    padding: 35px;
    }
