h3, .intro {
    background-color: #80aaff;
    margin-top:-10px;
    margin-bottom:-10px;
}
.big_pic {
    width:250px;
    height:340px;
    padding: 3px;
    border: solid;
}
#small_pic {
    padding-left:20px;
    padding-top:8px;
    width:65px;
    height:65px;
    vertical-align:middle;
}
span1 {
    color: white;
    padding-left: 5px;
    padding-right: 650px;
}
#tab {
    color: white;
    text-decoration:underline;
    padding: 35px;
}
h1{
    padding-top: 75px;
    padding-left: 250px;
    color: white;
}
h2{
    padding-top: 20px;
    padding-left: 250px;
    padding-bottom: 60px;
}
#big_pic_1 {
    margin-top: 70px;
    margin-right:400px;
    float:right;
}
p {
    font-size: 18px;
    color: #000080;
}
#blurb {
    padding-bottom: 5px;
    color: white;
}
#link {
    color: white;
    text-decoration:underline;
    padding: 4px;
    border: solid;
    border-color: #2e2eb8;
    margin: 35px;
}
#dance_pic{

}

